* { font: 1em/1.3 Arial, Helvetica, sans-serif; }

p { color: #555; }

#primero
{
   color: #336699;
   border-top-style: dotted;
   border-bottom-style: dotted;
   border-color: #F00;
}

a { color: #CC3300; }

#primero em { background: #FFFFCC; padding: .1em; }

em.especial { background: #FFCC99; border: 1px solid #FF9900; padding: .1em; }

span.normal  { font-weight: bold; }

h1
{
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-color: #FF9900;
  font-size: 30px;

}

#normal
{
  border-style:solid;
  border-width: 2px;
  border-color: #AAA;
}
